In [1]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

import pandas as pd
pd.set_option('display.max_colwidth',100)

In [7]:
# Delta lake docs
# https://docs.delta.io/latest/delta-intro.html

# Docker run command
# docker run --rm -v "$PWD":/home/jovyan/work -p 8888:8888 -p 4040:4040 jupyter/pyspark-notebook:latest
# docker exec -it charming_hellman bash

In [2]:
import pyspark

# Instantiate spark session with delta lake
spark = pyspark.sql.SparkSession.builder.appName("MyApp") \
    .config("spark.jars.packages", "io.delta:delta-core_2.12:0.8.0") \
    .config("spark.sql.extensions", "io.delta.sql.DeltaSparkSessionExtension") \
    .config("spark.sql.catalog.spark_catalog", "org.apache.spark.sql.delta.catalog.DeltaCatalog") \
    .getOrCreate()

from delta.tables import *

In [5]:
# Read in data in to dataframe
df = spark.read.option("header",True).csv('train.csv')

In [6]:
df.count()

913000

In [11]:
df.show(5)

+----------+-----+----+-----+
|      date|store|item|sales|
+----------+-----+----+-----+
|2013-01-01|    1|   1|   13|
|2013-01-02|    1|   1|   11|
|2013-01-03|    1|   1|   14|
|2013-01-04|    1|   1|   13|
|2013-01-05|    1|   1|   10|
+----------+-----+----+-----+
only showing top 5 rows

In [12]:
# Write as delta table.
df.write.format("delta").save("/home/jovyan/work/lake")

In [13]:
# Restart kernel and readin data from delta lake

In [2]:
df = spark.read.format("delta").load("/home/jovyan/work/lake")

In [3]:
type(df)

pyspark.sql.dataframe.DataFrame

In [4]:
df.count()

913000

In [20]:
new_df = df.withColumn('col_n', df.store + df.item)

In [21]:
new_df

DataFrame[date: string, store: string, item: string, sales: string, col_n: double]

In [23]:
new_df.show()

+----------+-----+----+-----+-----+
|      date|store|item|sales|col_n|
+----------+-----+----+-----+-----+
|2013-01-01|    1|   1|   13|  2.0|
|2013-01-02|    1|   1|   11|  2.0|
|2013-01-03|    1|   1|   14|  2.0|
|2013-01-04|    1|   1|   13|  2.0|
|2013-01-05|    1|   1|   10|  2.0|
|2013-01-06|    1|   1|   12|  2.0|
|2013-01-07|    1|   1|   10|  2.0|
|2013-01-08|    1|   1|    9|  2.0|
|2013-01-09|    1|   1|   12|  2.0|
|2013-01-10|    1|   1|    9|  2.0|
|2013-01-11|    1|   1|    9|  2.0|
|2013-01-12|    1|   1|    7|  2.0|
|2013-01-13|    1|   1|   10|  2.0|
|2013-01-14|    1|   1|   12|  2.0|
|2013-01-15|    1|   1|    5|  2.0|
|2013-01-16|    1|   1|    7|  2.0|
|2013-01-17|    1|   1|   16|  2.0|
|2013-01-18|    1|   1|    7|  2.0|
|2013-01-19|    1|   1|   18|  2.0|
|2013-01-20|    1|   1|   15|  2.0|
+----------+-----+----+-----+-----+
only showing top 20 rows

In [26]:
new_df.write.format("delta").mode("overwrite").option("mergeSchema", "true").save("/home/jovyan/work/lake")

In [3]:
deltaTable = DeltaTable.forPath(spark, "/home/jovyan/work/lake")

In [11]:
deltaTable.history().toPandas()

,version,timestamp,userId,userName,operation,operationParameters,job,notebook,clusterId,readVersion,isolationLevel,isBlindAppend,operationMetrics,userMetadata
0,1,2021-04-07 12:40:19.961,None,None,WRITE,"{'mode': 'Overwrite', 'partitionBy': '[]'}",None,None,None,0.0,None,False,"{'numOutputRows': '913000', 'numOutputBytes': '1776421', 'numFiles': '4'}",None
1,0,2021-04-07 12:22:02.304,None,None,WRITE,"{'mode': 'ErrorIfExists', 'partitionBy': '[]'}",None,None,None,NaN,None,True,"{'numOutputRows': '913000', 'numOutputBytes': '1773875', 'numFiles': '4'}",None

In [5]:
old_table = spark.read.format("delta").option("versionAsOf", 0).load("/home/jovyan/work/lake")
print((old_table.count(), len(old_table.columns)))
old_table.limit(5).toPandas()

(913000, 4)

         date store item sales
0  2013-01-01     1    1    13
1  2013-01-02     1    1    11
2  2013-01-03     1    1    14
3  2013-01-04     1    1    13
4  2013-01-05     1    1    10

In [3]:
new_table = spark.read.format("delta").option("versionAsOf", 1).load("/home/jovyan/work/lake")
print((new_table.count(), len(new_table.columns)))
new_table.limit(5).toPandas()

(913000, 5)

         date store item sales  col_n
0  2013-01-01     1    1    13    2.0
1  2013-01-02     1    1    11    2.0
2  2013-01-03     1    1    14    2.0
3  2013-01-04     1    1    13    2.0
4  2013-01-05     1    1    10    2.0